# backup-exclude.list template file (create a copy called backup-exclude.list)

# Generic exclusions
/core*
/dev/***
/lock
/lost+found/***
/media/***
/mnt/***
/proc/***
/root/snap/***
/var/run/***
/var/tmp/***
/var/swap*
/run/***
/swap*
/sys/***
/tmp/***

# Generic packages in cache
/var/cache/man/**
/var/cache/dictionaries-common/**
/var/cache/apt/archives/***

# Docker or container runtime cache and overlay
/var/lib/docker/***
/var/lib/containers/***

# Home cache folders
/home/*/.cache/***
/root/.cache/***